header {
  background-color: #a55183;
}

/*Ponemos el logo a la izquierda y el boton a la derecha*/
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*damos un margen y un tamaño al logo*/
.logo img {
  margin-left: 2rem;
  padding: 0.5rem;
  width: 20rem;
  height: 3rem;
}

/*Le damos un estilo al boton, tamaño y le damos un margen*/
.logo button {
  font-size: 1rem;
  font-family: "Griffy", cursive;
  color: #a55183;
  background-color: #f3f5f7;
  height: 2.5rem;
  margin-right: 5rem;
  margin-left: 3rem; /*Para que no se quede pegado a la parte derecha de la pantalla cuando se minimiza la ventana*/
  border: none;
  border-radius: 4px;
}

.logo button:hover {
  color: #fc5420;
}

/*Colocamos los elementos a la izquierda de la pantalla y activamos el wrap cuando se minimice */
header ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
}

/*Colocamos el texto en el centro y establecemos cuando se tienen que mover los elementos cuando se minimice la pantalla*/
header ul li {
  text-align: center;
  flex: 0 1 10rem;
}

/*Estilo de los enlaces*/
header ul li a {
  display: block;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "Griffy", cursive;
  color: #ffffff;
}

header ul li a:hover {
  color: #fc5420;
}

/*Posicionamos el texto en el centro y le damos un estilo*/
.cabecera {
  background-color: #dd4825;
  text-align: center;
  color: #ffffff;
  padding-left: 25%;
  padding-right: 25%;
}

/*Tamaño, tipografia y margenes del titulo*/
.cabecera h1 {
  font-family: "Creepster", cursive;
  font-size: 3rem;
  padding: 1rem;
}

/*Tamaño, tipografia y margenes del parrafo*/
.cabecera p {
  font-family: "Griffy", cursive;
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

/*Ponemos uno al lado del otro el mapa y la leyenda, centramos el contenido y damos unos margenes*/
.resumen {
  background-color: #fc5420;
  display: flex;
  flex-wrap: wrap; /*Si se minimiza la pantalla la leyenda se movera abajo del mapa*/
  font-size: 0.9rem;
}

/*Establecemos el tamaño que tendra el mapa en la web*/
.resumen > img {
  flex: 1 1 25rem;
  min-width: 20rem;
  padding: 1rem;
}

/*Establecemos el tamaño que tendra la leyenda en la web*/
.leyenda {
  flex: 1 1 0;
  align-self: center;
  color: #1f313d;
  padding: 1rem;
}

/*Colocamos el titulo y su icono un junto al otro*/
.leyenda .titulo {
  display: flex;
  padding-top: 1rem;
}

/*Tamaño del icono*/
.leyenda .titulo img {
  width: 2rem;
  height: 2rem;
  padding-right: 0.5rem;
}

/*Tipografia de los titulos de la leyenda*/
.leyenda .titulo h2 {
  font-family: "Griffy", cursive;
}

.leyenda p {
  padding-top: 0.3rem;
}

/*Damos un tamaño generico al texto*/
.cuerpo {
  background-color: #fc5420;
  font-size: 0.9rem;
  padding-bottom: 2rem;
}

/*Espacio entre secciones de establecimientos*/
.establecimiento {
  padding-bottom: 4rem;
}

/*Centramos los textos descriptivos del establecimiento y les damos un margen*/
.descripcionEst {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*Distancia entre el parrafo y el titulo*/
.descripcionEst h2 {
  padding-bottom: 1rem;
}

/*Posicionamos las cartas una al lado de la otra repartiendose el espacio*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
}

/*borde de la carta, tamaño y repartimos sus elementos en columnas para que ocupen de manera proporcionada todo el espacio*/
.card {
  border-width: 0.1rem;
  border-style: solid;
  border-color: #a55183;
  width: 30%;
  min-width: 20rem;
  height: 23rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*Que la imagen ocupe todo el ancho de la carta y buena parte del ancho*/
.card img {
  width: 100%;
  height: 50%;
}

/*estilo para los titulos de las tarjetas de establecimientos*/
.card h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

/*estilo para las descripciones de las tarjetas de establecimientos*/
.card p {
  padding-left: 0.5rem;
  padding-right: 10%;
}

/*Posicionamos el elemento abajo a la derecha y centramos sus elementos*/
.puntuacion {
  padding-bottom: 0.2rem;
  padding-right: 0.5rem;
  display: flex;
  align-self: flex-end;
  align-items: center;
}

/*Tamaño del icono de puntuacion*/
.puntuacion img {
  width: 1.7rem;
  height: 1.7rem;
}

/*Estilo texto puntuación*/
.puntuacion p {
  font-size: 0.75rem;
  padding-right: 0.5rem;
  color: #000000;
}

footer {
  background-color: #a55183;
  display: flex;
  flex-direction: column;
}

/*Estilo general del footer, centramos los elementos y establecemos el flex */
/*Los hijos se repartiran el tamaño en columnas*/
.info {
  color: #ffffff;
  font-size: 0.9rem;
  padding: 2rem 1rem 5rem 1rem;
  display: flex;
  flex-wrap: wrap;
}

.info img {
  padding: 0.5rem;
  padding-right: 2rem;
  height: 3rem;
  flex: 1 0 15%;
}

.contacto {
  flex: 1 0 20%;
}

.colaboradores {
  flex: 1 0 20%;
}

.licencia {
  flex: 1 0 20%;
}

/*Estilo titulos footer*/
.info h3 {
  font-family: "Griffy", cursive;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

/*Estilo lista*/
.info ul {
  list-style-type: disc;
  list-style-position: inside;
}

/*Movemos los iconos de las redes sociales al final de la pantalla y los colocamos en fila*/
.social {
  align-self: flex-end;
  flex-wrap: wrap;
  margin-bottom: 0.4rem;
}

/*Cambiamos el color de los iconos de redes sociales a blanco*/
.social img {
  filter: brightness(0) invert(1);
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  padding-right: 3rem;
}

.social img:hover {
  filter: invert(53%) sepia(83%) saturate(4923%) hue-rotate(349deg)
    brightness(101%) contrast(98%);
}

/*Estilo general para los titulos*/
h2 {
  font-family: "Creepster", cursive;
  font-size: 2rem;
}
