/*
font-family: 'Creepster', cursive;
font-family: 'Griffy', cursive;
font-family: 'Inter', sans-serif;
*/

header {
  background-color: #A55183;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo img {
  margin-left: 2rem;
  padding: 0.5rem;
  width: 20rem;
  height: 3rem;
}

.logo button {
  font-size: 1rem;
  font-family: 'Griffy', cursive;
  color: #A55183  ;
  background-color: #F3F5F7;
  height: 2.5rem;
  margin-right: 5rem;
  border: none;
  border-radius: 4px;
}

.logo button:hover {
  color: #FC5420;
}

header ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top:0.2rem;
  padding-bottom:1rem;
}

header ul li {
  text-align: center;
  flex: 0 1 150px;
}

header ul li a {
  display: block;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: 'Griffy', cursive;
  color: #FFFFFF  ;
}

header ul li a:hover {
  color: #FC5420;
}

.cabecera {
  background-color: #DD4825;
  text-align: center;
  color: #FFFFFF;
  padding-left: 25%;
  padding-right: 25%;
}

.cabecera h1 {
  font-family: 'Creepster', cursive;
  font-size: 3rem;
  padding: 1rem;
}

.cabecera p {
  font-family: 'Griffy', cursive;
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

.resumen {
  background-color: #FC5420;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.resumen img {
  padding-right: 1rem;
  height: 90%;
  width: 60%;
}

.leyenda {
  color: #1F313D;
  width: 35%;
}

.leyenda .titulo {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.leyenda .titulo img {
  width: 2rem;
  height: 2rem;
}

.leyenda .titulo h2 {
  font-family: 'Griffy', cursive;
}


.cuerpo {
  background-color: #FC5420;
}

footer {
  background-color: #A55183;
}


h2 {
  font-family: 'Creepster', cursive;
  font-size: 2rem;
}